<%- layout("/layouts/boilerplate") %>

<form method="GET" action="/listings/filters/1" novalidate class="needs-validation" enctype="multipart/form-data">
    <div class="card col-6 offset-3 show-card listing-card">
        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
        <div class="card-body">

        <p class="card-text">Owned by: <i>  <%= listing.owner.username %></i> <br> </p>
        <p class="card-text"> <b><%= listing.title %></b> <br></p>   
        <p class="card-text"><%= listing.description %>  <br> </p>
        <p class="card-text"> &#8377; <%= listing.price. toLocaleString("en-IN") %> /night <br> </p>
        <p class="card-text"> <%= listing.location %><br>  </p>
        <p class="card-text">   <%= listing.country %><br> </p>

        </div>
</form>